.book-list {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img.css-o69gx8-MuiCardMedia-root {

	width: 100%;
	height: 100%;
	object-fit: contain !important;
}